* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background:linear-gradient(white,black);
    padding: 20px;
    height: 50%;
    width: 85%;
    margin: 20px;
}

/* En-tête avec logo à droite */
header {
    display: flex;
    justify-content: flex-end;
    background:linear-gradient(rgba(0, 0, 0, 0.093));
    height: 30%;
    margin-bottom: 20px;
}

.logo img {
    height: 58px;
    background-color: #555;

}

/* Conteneur principal */
.container {
    display: flex;
    max-width: 1208px;
    margin: auto;
    background:linear-gradient(white,yellowgreen);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    overflow: hidden;
    
    flex-direction: row; /* Texte à gauche, image à droite */
}

/* Texte à gauche */
.text-section {
    flex: 1;
    padding: 40px;
    text-align: left;
}

.text-section h1 {
    font-size:2em;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30%;
    width: 80%;
}

.text-section p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

.text-section h2 {
    color: #333;
    margin-top: 20px;
}

.text-section ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
}

/* Image à droite */
.image-section {
    flex: 1;
    background:linear-gradient(yellowgreen,blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    

}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10vh;
}
button{
    margin-right: 5%;
    height:     10vh;
    background:linear-gradient(blue,red);
    border: solid ;
    border-radius: 10px;
    color: white;
}
.a{
  color: #2c3e50;
}
input{
  background: rgba(0, 0, 255, 0.875);
  border-radius: 10px;
  height: 4VH;
  color: white;
}
.input-email{
  background: #2c3e50;

}
P{
  text-align: justify;
  color: black SOLID;
  font-family: fantasy;

}